@CHARSET "UTF-8";

.valueRight {
	text-align: right;
	width: 15ex;
}

td.valueCenter {
	text-align: center;
	width: 7ex;
}

.kamoku {
	width: 15ex;
}

.tekiyou {
	width: 40ex;
}

.tbl {
	margin-top: 10px;
	margin-bottom: 10px;
}